%div.nested-set-item{ rel: object.id,
  id: "#{object.class.name.underscore}_#{object.id}", class: optional_cls('unpublished' => !object.published?) }
  = bs_icon(:move, class: '-move')
  %span
    %span.name= link_to object.name, polymorphic_path([:admin, object], action: :edit)
    %span.url= object.absolute_path
  %span.controls
    -#
      - unless object.default_behavior?
        %span.label= object.human_behavior_name
    -# = object_link_new(object)
    - if object.published?
      - if object.nav_published?
        = admin_nav_published_sign(class: '-nav')
      = admin_published_sign(class: '-state')
    - else
      = admin_unpublished_sign
    = object_link_edit(object)
    = admin_cb(object)
