-#  Link to the "Next" page
-#  available local variables
-#    url:           url to the next page
-#    current_page:  a page object for the currently displayed page
-#    num_pages:     total number of pages
-#    per_page:      number of items to fetch per page
-#    remote:        data-remote
- label = raw(t 'views.pagination.next')
= link_to label, url, class: :next
