%fieldset
  = f.input :name
  = f.input :nav_name
  = f.input :body, input_html: { class: 'mce' }
%fieldset
  %legend= t 'labels.admin.legend.seo'
  = f.input :meta_title
  = f.input :meta_description, as: :string
