- resource_title
- breadcrumbs resource_name
- breadcrumbs label: collection_name,
    url: polymorphic_path([:admin, resource.class.name.pluralize.underscore])

= resource_header

%table.table.table-striped
  %thead
    %tr
      %th Поле
      %th Старое значение
      %th Новое значение
  %tbody
    - resource.changeset.each do |field, change|
      %tr
        %td= field
        %td= change[0]
        %td= change[1]
