-# - message = 'debugging info'
-# - kind    = :notice
-# - kind    = :error
- css_class = css_class << {error: 'alert-error', notice: 'alert-success'}[kind]
%div{class: css_class.uniq.compact, style: style}>
  - if options[:with_close_bullet]
    = alert_close
  .text{style: style}= message
