%div{ class: 'modal fade', id: 'authenticationModal', tabindex: '-1', role: 'dialog' }
  .modal-header
    %button{type: 'button', class: 'close', role: 'dialog', 'data-dismiss' => 'modal' }x
    %h3 Регистрация через социальные сети
  .modal-body
    %p
      %strong
        Если
      у вас уже есть активная учетная запись, вы можете привязать к ней профиль социальной сети,
      %strong
        иначе
      просто закройте это окно.
    = render 'authentications/form'
