= inside_layout :admin do
  = render partial: 'shared/admin/navbar'
  .container
    = show_breadcrumbs admin: true
    = show_flash_alert with_close_bullet: true
    = content_for?(:'admin/base_layout') ? yield(:'admin/base_layout') : yield
  .activity
