-#  Link to the "Previous" page
-#  available local variables
-#    url:           url to the previous page
-#    current_page:  a page object for the currently displayed page
-#    num_pages:     total number of pages
-#    per_page:      number of items to fetch per page
-#    remote:        data-remote
- label = raw(t 'views.pagination.admin.previous')
%li{class: (:disabled if current_page.first?)}
  = link_to_unless current_page.first?, label, url,
    rel: :prev, remote: remote, class: :prev do
    %span= label
