- if objects.present?
  %ul.nested-set-container{'max-levels' => 2}
    - objects.each do |object, children|
      %li{href: polymorphic_path([:admin, object], action: :drop), rel: object.id}
        = render partial: 'object', object: object
        = render partial: 'objects', object: children
