.navbar.navbar-inverse.navbar-fixed-top
  .navbar-inner
    .container
      = link_to t('layouts.application.title'), admin_root_path, class: :brand
      %ul.nav
        = top_menu_item active: 'admin/pages#' do
          = link_to t('admin.pages.actions.index..header'), admin_pages_path
        %li.dropdown
          %a.dropdown-toggle{href: '#', data: {toggle: 'dropdown'}}
            Другое
            %b.caret
          %ul.dropdown-menu.others
            = top_menu_item active: 'admin/settings#' do
              = link_to t('admin.settings.actions.index.header'), edit_admin_settings_path
            -#
              = top_menu_item active: 'admin/users#' do
                = link_to t('admin.users.actions.index.header'), admin_users_path
            -#
              = top_menu_item active: 'admin/versions#' do
                = link_to t('admin.versions.actions.index.header'), admin_versions_path
        = top_menu_item active: 'admin/helps#' do
          = link_to bs_icon(:'info-sign', class: 'icon-white', title: t('labels.admin.info')), admin_helps_path
      %ul.nav.pull-right
        %li= link_to bs_icon(:home, class: 'icon-white', title: t('labels.admin.go_to_root')), root_path
        %li
          = link_to destroy_user_session_path, method: :delete do
            = bs_icon(:off, class: 'icon-white', title: t('labels.admin.logout'))
