%fieldset
  = f.input :email
  = f.input :password
  = f.input :roles, collection: resource_class.valid_roles, as: :check_boxes, checked: resource.roles, label_method: proc {|l| resource_class.human_attribute_name(l) }
