= form_tag url_for(action: :batch_action), method: :post do
  = block
  .actions.pull-right
    - if with_publication
      %button.btn-mini{ h_bs_btn(), type: 'submit',
                        name: 'set_published_on' }
        = I18n.t('labels.admin.batch_actions.set_published_on')
      %button.btn-mini{ h_bs_btn(), type: 'submit',
                        name: 'set_published_off' }
        = I18n.t('labels.admin.batch_actions.set_published_off')
    - if with_nav_publication
      %button.btn-mini{ h_bs_btn(), type: 'submit',
                       name: 'set_nav_published_on' }
        = I18n.t('labels.admin.batch_actions.set_nav_published_on')
      %button.btn-mini{ h_bs_btn(), type: 'submit',
                        name: 'set_nav_published_off' }
        = I18n.t('labels.admin.batch_actions.set_nav_published_off')
    - if with_destroy
      %button.btn-mini{ h_bs_btn(), type: 'submit',
                        name: 'destroy',
                        data: {confirm: I18n.t('confirmations.destroy.many')} }
        = I18n.t('labels.admin.batch_actions.destroy')
