%ul#breadcrumb.breadcrumb
  - breadcrumbs.each_with_index do |breadcrumb, index|
    %li{class: (:last if index == breadcrumbs.length - 1)}><
      = succeed (index + 1 == breadcrumbs.length ? '' : divider) do
        = link_to_if (breadcrumb.url.present? && !current_page?(breadcrumb.url)),
          h(breadcrumb.label), breadcrumb.url
