production:
  application_name: '<%= application %>'
  god_port: <%= god_port %>
  stage: '<%= stage %>'
development:
  application_name: '<%= application %>'
  god_port: <%= god_port %>
  stage: '<%= stage %>'
test:
  application_name: '<%= application %>'
  god_port: <%= god_port %>
  stage: '<%= stage %>'
