APPLICATION_IDENTIFIER = '<%= god_application_identifier %>'
DELAYED_JOB_PID = '<%= "#{pids_dir}/delayed_job.pid" %>'
GOD_SHELL       = '<%= god_shell %>'
LOGS_DIR        = '<%= logs_dir %>'
RAILS_ENV       = '<%= rails_env %>'
RAILS_ROOT      = '<%= current_path %>'
UNICORN_BINARY  = '<%= unicorn_binary %>'
UNICORN_CONFIG  = '<%= unicorn_config %>'
UNICORN_PID     = '<%= unicorn_pid %>'
GOD_ENVIRONMENT = {
  'RAILS_ENV'      => RAILS_ENV,
  'RAILS_ROOT'     => RAILS_ROOT,
  'SHELL'          => GOD_SHELL,
  'BUNDLE_GEMFILE' => File.expand_path("#{RAILS_ROOT}/Gemfile")
}

God.pid_file_directory = '<%= pids_dir %>'

God.watch do |w|
  w.name     = "#{APPLICATION_IDENTIFIER}_unicorn"
  w.dir      = RAILS_ROOT
  w.env      = GOD_ENVIRONMENT
  w.log      = "#{LOGS_DIR}/god_#{APPLICATION_IDENTIFIER}_unicorn.log"
  w.pid_file = UNICORN_PID
  w.group    = 'watches'
  w.behavior(:clean_pid_file)
  w.keepalive

  w.start = "cd #{RAILS_ROOT} && RAILS_ENV=#{RAILS_ENV} bundle exec #{UNICORN_BINARY} -c #{UNICORN_CONFIG} -E #{RAILS_ENV} -D"
  w.start_grace = 10.seconds

  w.stop = "kill -QUIT `cat #{UNICORN_PID}`"
  w.stop_grace = 10.seconds

  w.restart = "kill -USR2 `cat #{UNICORN_PID}`"
  w.restart_grace = 10.seconds
end

#God.watch do |w|
#  w.name     = "#{APPLICATION_IDENTIFIER}_delayed_job"
#  w.env      = GOD_ENVIRONMENT
#  w.log      = "#{LOGS_DIR}/god_#{APPLICATION_IDENTIFIER}_delayed_job.log"
#  w.pid_file = DELAYED_JOB_PID
#  w.group    = 'watches'
#  w.behavior(:clean_pid_file)
#  w.keepalive
#
#  w.start         = "#{RAILS_ROOT}/script/delayed_job start"
#  w.start_grace   = 10.seconds
#
#  w.stop          = "#{RAILS_ROOT}/script/delayed_job stop"
#  w.stop_grace    = 10.seconds
#
#  w.restart       = "#{RAILS_ROOT}/script/delayed_job restart"
#  w.restart_grace = 10.seconds
#end
